.work__inline {
    display: flex;
    justify-content: space-around;
  }

.work__dline {
   line-height: 0;
}

.work__expand-button {
  color: blue;
  cursor: pointer;
  display: inline-block;
}

.work__block {
  width: 50%;
}